:root {
  --color-primary-dark: #195288;
  --color-primary-dark: #0555a0;
  --color-primary: #3c98c9;
  --color-primary: #2f9dd8;
  --color-primary-light: #bcdef1;
  --color-primary-lighter: #c7eafd;

  --color-white: #fff;
  --color-grey: #f0f3f7;
}