/// TOP NAVIGATION
.top-nav {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  align-self: end;
  
  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;

    &__item {

      &:not(:last-of-type) {
        margin-right: 2.2rem;
      }
    }
  }

  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-primary-dark);
    text-transform: capitalize;
  }

  &__link:hover,
  &__link:active,
  &__link:focus {
    cursor: pointer;
    filter: brightness(1.5);
  }

  &__link:focus {
    outline: none;
  }

  &__link--icon {
    font-size: 2.8rem;
  }
}

.gradient--top {
  grid-row: 2;
  grid-column: 2 / -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, var(--color-white) 0%, var(--color-primary-lighter) 20%, var(--color-primary-light) 30%, var(--color-primary) 65%, var(--color-primary-dark) 100%);
}


/// LOGO AND SIDE NAVIGATION
.logo {
  width: 35rem;
  height: 35rem;
  margin-top: -16rem;
  padding-top: 2rem;

  @media all and (max-width: 700px) {
    margin-top: 0;
    display: none;
  }

  &__outer-circle {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background-color: var(--color-white);
    position: relative;
    z-index: 10;
    box-shadow: .3rem .3rem 1rem rgba(0,0,0,.15), -.1rem -.1rem .5rem rgba(0,0,0,.08);
  }

  &__mid-circle {
    position: relative;
    width: 32rem;
    height: 32rem;
    @include center;
    border-radius: 50%;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark), var(--color-primary-light), var(--color-primary-light), var(--color-primary-dark), var(--color-primary-light), var(--color-primary-light), var(--color-primary-dark), var(--color-primary-light));
    border: 1px solid var(--color-primary-dark);
    box-shadow: .4rem .4rem .2rem var(--color-primary-lighter), -.4rem -.4rem .2rem var(--color-primary-lighter), -.4rem .4rem .2rem var(--color-primary-lighter), .4rem -.4rem .2rem var(--color-primary-lighter);
    z-index: 11;
  }

  &__inner-circle {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: var(--color-white);
    z-index: 12;
    @include center;
    border: 1px solid var(--color-primary-dark);
    box-shadow: inset .4rem .4rem .2rem var(--color-primary-lighter), inset -.4rem -.4rem .2rem var(--color-primary-lighter), inset -.4rem .4rem .2rem var(--color-primary-lighter), inset .4rem -.4rem .2rem var(--color-primary-lighter);
  }

  &__text-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    &--mobile {
      display: none;

      @media all and (max-width: 700px) {
        display: block;
        text-align: center;
        font-size: 1.4rem;
      }
    }
  }

  &__text {

    &--upper {
      font-size: 1.5em;
      font-weight: 300;
      letter-spacing: 1px;
      color: var(--color-primary);
      margin-bottom: .6rem;
    }

    &--mid {
      font-size: 3.4em;
      font-weight: 800;
      letter-spacing: .2rem;
      color: var(--color-primary-dark);
    }

    &--lower {
      font-size: 1.5em;
      font-weight: 500;
      letter-spacing: 2px;
      color: var(--color-primary);
    }
  }
}

.side-nav {
  margin-top: 10rem;
  padding: 3rem;

  @media all and (max-width: 700px) {
    margin-top: 2rem;
  }

  &__list {
    list-style-type: none;

    &__item {
      border-bottom: 1px solid rgba(var(--color-primary-dark), .3);
    
      &:not(:first-child) {
        margin-top: 2.4rem;
      }
    }
  }

  &__link {

    &:link,
    &:visited {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      height: 5rem;
      padding-right: 8rem;
      text-decoration: none;
      color: var(--color-primary-dark);
      border-bottom: 1px solid var(--color-primary-dark);

      @media all and (max-width: 800px) {
        justify-content: space-between;
        padding-right: 0;
      }
    }

    &:hover,
    &:active {
      cursor: pointer;
      border-bottom: 1px solid var(--color-primary);
    }

    &:hover &__icon,
    &:active &__icon,
    &:focus &__icon {
      filter: brightness(1.2);
      transform: scale(1.15);
    }

    &:hover &__text,
    &:active &__text,
    &:focus &__text {
      color: var(--color-primary);
    }

    &:active &__icon {
      background-position: 100%;
    }

    &:focus {
        outline: none;
    }

    &__icon-container {
      width: 6rem;
      margin-right: 3rem;
    }

    &__icon {
      font-size: 4rem;
      background-image: linear-gradient(to right, var(--color-primary) 5%, var(--color-primary-dark) 60%, var(--color-primary) 100%);
      background-size: 200%;
      background-position: 200%;
      color: transparent;
      -webkit-background-clip: text;
      transition: all .2s;   
    }

    &__text {
      font-size: 1.6rem;
      letter-spacing: 1px;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

/// HOMEPAGE FOOTER
.homepage-bottom {
  margin-bottom: 5rem;
  padding-top: 2rem;

  &__slogan {
    grid-row: 1;
    grid-column: 2;
    
    @media all and (max-width: 450px) {
      display: none;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      &__item {
        font-size: 1.6rem;
        color: var(--color-primary);
        line-height: 2.2rem;

        @media all and (max-width: 450px) {
          line-height: 1.8;
        }

        &:not(:last-of-type) {
          margin-right: 2rem;
        }

        &:last-of-type {
          margin-right: 4rem;
        }
      }
    }
  }
}

.gradient--bottom {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
  
  background-image: linear-gradient(to right, var(--color-primary) 0, var(--color-primary-light) 80%, var(--color-primary-lighter) 100%);
}


/// BIG BACKGROUND TEXT
.bg-text {
  width: 95%;
  overflow: hidden;
  position: absolute;
  left: 4rem;
  bottom: 4rem;
  z-index: -1;
  font-family: 'Heebo', sans-serif;
  font-size: 25rem;
  font-weight: 800;
  letter-spacing: .5rem;
  opacity: .05;

  @media all and (max-width: 750px) {
    width: 90%;
    bottom: 2rem;
  }
}