.homepage {
  height: 100vh;
  min-height: 65rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.header {
  display: grid;
  grid-template-rows: 6rem 2px;
  grid-template-columns: 3fr 60% 1fr;
  row-gap: .8rem;

  @media all and (max-width: 400px) {
    grid-template-columns: 3fr 70% 1fr;
  }
}

.homepage-middle-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  @media all and (max-width: 700px) {
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
  }
}

.homepage-bottom {
  display: grid;
  grid-template-rows: auto 2px;
  grid-template-columns: minmax(10rem, 2fr) minmax(30rem, 60rem) 7fr;
  row-gap: 1rem;

  @media all and (max-width: 500px) {
    grid-template-columns: minmax(5rem, 2fr) minmax(30rem, 60rem) 2fr;
  }
}